# Server
PORT=3005
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_DATABASE=postgres

# Client
CLIENT_HOST=http://localhost:5173
API_HOST=http://localhost:3005

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password

# JWT
JWT_KEY=your_jwt_secret
JWT_REFRESH_KEY=your_refresh_jwt_secret


RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=Node Auth App <onboarding@resend.dev>
